/* General Reset */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h2 {
    text-align: left;
    font-size: 1.8rem;
    color: #333;
    padding-bottom: 40px;
  }
  
  /* Form Container */
  .form-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Image Upload Section */
  .image-upload {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .image-placeholder {
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
  }
  
  .image-placeholder img {
    width: 50%;
    opacity: 0.5;
  }
  
  .image-upload p {
    font-size: 0.9rem;
    color: #555;
    
  }
  
  .browse {
    color: #007bff;
    cursor: pointer;
  }
  
  /* Form Body */
  .form-body {
    margin-bottom:20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="tel"] {

    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  /* Type Buttons */
  .type-group {
    display: flex;
    flex-direction: column;
  }
  
  .type-buttons {
    display: flex;
    gap: 10px;
  }
  
  .type-btn {
    flex: 1;
    padding: 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  
  /* Form Actions */
  .form-actions {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .discard-btn {
    background-color: #ff4d4d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .discard-btn:hover {
    background-color: #e60000;
  }
  
  .submit-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .form-container {
      width: 90%;
    }
  }
  